@{
    Layout = "~/Views/Shared/_Layout_Public.cshtml";
    ViewData["Title"] = ViewBag.Title;
    ViewData["MetaDescripcion"] = ViewBag.MetaDescripcion;
    ViewData["MetaKeywords"] = ViewBag.MetaKeywords;
    ViewData["MetaAuthor"] = ViewBag.MetaAuthor;
    //ViewBag.Title = "Caam: Centro psicológico de aprendizaje profesional";
    //ViewBag.MetaDescripcion = "Únete hoy a Caam, el centro psicológico profesional de educación en línea y presencial. Prepárate con las habilidades más nuevas y demandadas a un menor precio de lo que gastarías regularmente.";
    //ViewBag.MetaKeywords = "psicología, clinica, menor precio, tecnologías, servicios, consulta, online, presencial, psicoterapia, familiar, pareja, infantil, adolescentes, terapia, adultos, asesoramiento, educación, profesional, capacitación, docente, evaluación, duelo, orientacion vocacional, orientación, pruebas, anciedad, ansiedad, rehabilitación, terapia, breve, cognitivo conductual, pareja, test machover, consulta subsecuente, en línea, presencial";
    //ViewBag.MetaAuthor = "caam, dgarcia2105, didade";
}

<section class="Hero Bg-animation " style="--scrollY: 0px; ">
    <div class="Hero-content u-wrapper">
        <h1 class="Hero-content-title">
            <span>Para todos tus retos,</span> prepárate en CAAM
        </h1>
        <p class="Hero-content-subtitle">La comunidad psicológica de aprendizaje en línea y presencial donde desarrollas tus habilidades y potencias tu crecimiento.</p>
        <p class="Hero-content-message">¿Qué quieres lograr?</p>
        <form class="Hero-content-input">
            <input value="" placeholder="Cuéntanos aquí">
            <button type="submit" data-testid="search">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="paper-plane-top" class="svg-inline--fa fa-paper-plane-top " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                    <path fill="currentColor" d="M81.9 27.8C47.1 12.7 12.8 50.1 30.8 83.5l69.3 128.8c4.4 8.3 12.6 13.8 21.9 15c0 0 0 0 0 0l176 22c3.4 .4 6 3.3 6 6.7s-2.6 6.3-6 6.7l-176 22s0 0 0 0c-9.3 1.2-17.5 6.8-21.9 15L30.8 428.5c-18 33.4 16.3 70.8 51.1 55.7L523.8 292.7c32.1-13.9 32.1-59.5 0-73.4L81.9 27.8z"></path>
                </svg> 
            </button>
        </form>
    </div>
</section> 

<section class="MarqueesCarousel ">
    
    <div class="MarqueesCarousel-container">
        <section class="MarqueesCarousel-container-marquee MarqueesCarousel-container-marquee--left">
            <div>
                <a href="/buscar/?search=consulta_psicologica_online">"Consulta psicológica online<!-- -->"</a>
                <a href="/buscar/?search=evaluaciones_clinicas">"<!-- -->Evaluaciones clínicas<!-- -->"</a>
                <a href="/buscar/?search=evaluaciones_psicometricas">"<!-- -->Evaluaciones psicométricas<!-- -->"</a>
                <a href="/buscar/?search=intervencion_en_crisis">"<!-- -->Intervención en crisis<!-- -->"</a>
                <a href="/buscar/?search=orientacion_para_padres">"<!-- -->Orientación para padres<!-- -->"</a>
                <a href="/buscar/?search=primera_visita_psicologia">"<!-- -->Primera visita Psicología<!-- -->"</a>
                <a href="/buscar/?search=psicoterapia_familiar">"<!-- -->Psicoterapia familiar<!-- -->"</a>
                <a href="/buscar/?search=psicoterapia_infantil">"<!-- -->Psicoterapia infantil<!-- -->"</a>
                <a href="/buscar/?search=psicoterapia_para_adolescentes">"<!-- -->Psicoterapia para adolescentes<!-- -->"</a>
            </div>
            <div>
                <a href="/buscar/?search=consulta_psicologica_online">"<!-- -->Consulta psicológica online<!-- -->"</a>
                <a href="/buscar/?search=evaluaciones_clinicas">"<!-- -->Evaluaciones clínicas<!-- -->"</a>
                <a href="/buscar/?search=evaluaciones_psicometricas">"<!-- -->Evaluaciones psicométricas<!-- -->"</a>
                <a href="/buscar/?search=intervencion_en_crisis">"<!-- -->Intervención en crisis<!-- -->"</a>
                <a href="/buscar/?search=orientacion_para_padres">"<!-- -->Orientación para padres<!-- -->"</a>
                <a href="/buscar/?search=primera_visita_psicologia">"<!-- -->Primera visita Psicología<!-- -->"</a>
                <a href="/buscar/?search=psicoterapia_familiar">"<!-- -->Psicoterapia familiar<!-- -->"</a>
                <a href="/buscar/?search=psicoterapia_infantil">"<!-- -->Psicoterapia infantil<!-- -->"</a>
                <a href="/buscar/?search=psicoterapia_para_adolescentes">"<!-- -->Psicoterapia para adolescentes<!-- -->"</a>
            </div>
        </section>
        <section class="MarqueesCarousel-container-marquee MarqueesCarousel-container-marquee--right">
            <div>
                <a href="/buscar/?search=terapia_familiar">"<!-- -->Terapia familiar<!-- -->"</a>
                <a href="/buscar/?search=terapia_individual">"<!-- -->Terapia individual<!-- -->"</a>
                <a href="/buscar/?search=terapia_para_adultos">"<!-- -->Terapia para adultos<!-- -->"</a>
                <a href="/buscar/?search=visitas_sucesivas_psicologia">"<!-- -->Visitas sucesivas Psicología<!-- -->"</a>
                <a href="/buscar/?search=asesoramiento_educativo_familiar">"<!-- -->Asesoramiento Educativo Familiar<!-- -->"</a>
                <a href="/buscar/?search=capacitacion_docente">"<!-- -->Capacitación docente<!-- -->"</a>
                <a href="/buscar/?search=evaluacion_psicologica">"<!-- -->Evaluación psicológica<!-- -->"</a>
                <a href="/buscar/?search=manejo_de_duelo">"<!-- -->Manejo de duelo<!-- -->"</a>
                <a href="/buscar/?search=orientacion_vocacional">"<!-- -->Orientación vocacional<!-- -->"</a>
                <a href="/buscar/?search=visita_domiciliaria_psicologia">"<!-- -->Visita domiciliaria Psicología<!-- -->"</a>
            </div>
            <div>
                <a href="/buscar/?search=terapia_familiar">"<!-- -->Terapia familiar<!-- -->"</a>
                <a href="/buscar/?search=terapia_individual">"<!-- -->Terapia individual<!-- -->"</a>
                <a href="/buscar/?search=terapia_para_adultos">"<!-- -->Terapia para adultos<!-- -->"</a>
                <a href="/buscar/?search=visitas_sucesivas_psicologia">"<!-- -->Visitas sucesivas Psicología<!-- -->"</a>
                <a href="/buscar/?search=asesoramiento_educativo_familiar">"<!-- -->Asesoramiento Educativo Familiar<!-- -->"</a>
                <a href="/buscar/?search=capacitacion_docente">"<!-- -->Capacitación docente<!-- -->"</a>
                <a href="/buscar/?search=evaluacion_psicologica">"<!-- -->Evaluación psicológica<!-- -->"</a>
                <a href="/buscar/?search=manejo_de_duelo">"<!-- -->Manejo de duelo<!-- -->"</a>
                <a href="/buscar/?search=orientacion_vocacional">"<!-- -->Orientación vocacional<!-- -->"</a>
                <a href="/buscar/?search=visita_domiciliaria_psicologia">"<!-- -->Visita domiciliaria Psicología<!-- -->"</a>
            </div>
        </section>
        <section class="MarqueesCarousel-container-marquee MarqueesCarousel-container-marquee--left">
            <div>
                <a href="/buscar/?search=pruebas_de_ansiedad">"<!-- -->Pruebas de ansiedad<!-- -->"</a>
                <a href="/buscar/?search=psicoterapia">"<!-- -->Psicoterapia<!-- -->"</a>
                <a href="/buscar/?search=terapia_breve">"<!-- -->Terapia breve<!-- -->"</a>
                <a href="/buscar/?search=terapia_cognitivo-conductual_(tcc)">"<!-- -->Terapia cognitivo-conductual (TCC)<!-- -->"</a>
                <a href="/buscar/?search=terapia_de_pareja">"<!-- -->Terapia de pareja<!-- -->"</a>
                <a href="/buscar/?search=test_de_machover">"<!-- -->Test de Machover<!-- -->"</a>
                <a href="/buscar/?search=visita_psicologia">"<!-- -->Visita Psicología<!-- -->"</a>
                <a href="/buscar/?search=consulta_subsecuente">"<!-- -->Consulta subsecuente<!-- -->"</a>
                <a href="/buscar/?search=consulta_de_primera_vez">"<!-- -->Consulta de primera vez<!-- -->"</a>
                <a href="/buscar/?search=consulta_en_linea">"<!-- -->Consulta en línea<!-- -->"</a>
                <a href="/buscar/?search=rehabilitacion_domiciliaria">"<!-- -->Rehabilitación domiciliaria<!-- -->"</a>
            </div>
            <div>
                <a href="/buscar/?search=pruebas_de_ansiedad">"<!-- -->Pruebas de ansiedad<!-- -->"</a>
                <a href="/buscar/?search=psicoterapia">"<!-- -->Psicoterapia<!-- -->"</a>
                <a href="/buscar/?search=terapia_breve">"<!-- -->Terapia breve<!-- -->"</a>
                <a href="/buscar/?search=terapia_cognitivo-conductual_(tcc)">"<!-- -->Terapia cognitivo-conductual (TCC)<!-- -->"</a>
                <a href="/buscar/?search=terapia_de_pareja">"<!-- -->Terapia de pareja<!-- -->"</a>
                <a href="/buscar/?search=test_de_machover">"<!-- -->Test de Machover<!-- -->"</a>
                <a href="/buscar/?search=visita_psicologia">"<!-- -->Visita Psicología<!-- -->"</a>
                <a href="/buscar/?search=consulta_subsecuente">"<!-- -->Consulta subsecuente<!-- -->"</a>
                <a href="/buscar/?search=consulta_de_primera_vez">"<!-- -->Consulta de primera vez<!-- -->"</a>
                <a href="/buscar/?search=consulta_en_linea">"<!-- -->Consulta en línea<!-- -->"</a>
                <a href="/buscar/?search=rehabilitacion_domiciliaria">"<!-- -->Rehabilitación domiciliaria<!-- -->"</a>
            </div>
        </section>
    </div>
</section>

<section class="BulletExplainer ">
    <div class="u-wrapper">
        <div class="BulletExplainer-content">
            <h2 class="BulletExplainer-heading" data-trans="">¿CÓMO APRENDES CON PLATZI?</h2>
            <h3 class="BulletExplainer-title" data-trans="">Te damos las herramientas para crecer</h3>
            <ul class="BulletExplainer-bullets">
                <li class="BulletExplainer-bullet">
                    <h4 class="BulletExplainer-bulletTitle">Crea</h4>
                    <p class="BulletExplainer-bulletDescription">Adquiere el conocimiento necesario para convertir tus ideas en nuevos proyectos.</p>
                </li>
                <li class="BulletExplainer-bullet">
                    <h4 class="BulletExplainer-bulletTitle">Comparte</h4>
                    <p class="BulletExplainer-bulletDescription">Conecta con una comunidad de estudiantes y profesionales para potenciar tu aprendizaje.</p>
                </li>
                <li class="BulletExplainer-bullet">
                    <h4 class="BulletExplainer-bulletTitle">Transforma</h4>
                    <p class="BulletExplainer-bulletDescription">Genera impacto con grandes proyectos que cambien al mundo.</p>
                </li>
            </ul>
            <div class="BulletExplainer-triangle"></div>
        </div>
    </div>
</section>

