<h1>
    Log
</h1>

<form method="post">
    <input type="text" name="username" placeholder="Typer Username" />
    <input type="password" name="password" placeholder="Typer Password" />
    <button class="btn btn-primary"></button>
</form>