@*README
    https://www.bootdey.com/snippets/tagged/contacts*@
@inject IHttpContextAccessor contxt
@model MM.CAAM.Gestion.DTO.DTOs.UsuarioDTO
@{
    //ViewBag.MetaDescripcion = Model.MetaHtml.Description;
    //ViewBag.MetaAuthor = Model.MetaHtml.Author;
    //ViewBag.MetaKeywords = Model.MetaHtml.Keywords;
    //ViewBag.Descripcion = Model.Descripcion;
    Layout = "~/Views/Shared/_Layout_Public.cshtml";
    ViewBag.Title = "Login";
}
<br />
@*<h1>Agregar usuario</h1>*@
<br />

<div class=" px-1 py-2 mx-auto">
    <div class="d-flex justify-content-center" >
        <div class="col-xl-7 col-lg-8 col-md-9 col-11" >
            <br />
            <br />
            <div class="">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h3 class="" style="color:white;">Iniciar sesión</h3>
                    </div>
                </div>
                <div class="align-items-center text-center">
                    <div class="col-md-12">
                        <div class="card-body">
                            <form method="post" onsubmit="return sendAjax();"> 
                                <div class="input-group mb-3">
                                    <span class="input-group-text"><i data-feather="user"></i></span>
                                    @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @placeholder = "Tu email", @class = "form-control", @required = "required" } })
                                </div>
                                <div class="input-group mb-4">
                                    <span class="input-group-text"><i data-feather="lock"></i></span>
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @placeholder = "Tu contraseña", @class = "form-control lock-input", @required = "required", @Type = "password" } })
                                </div>
                                <div class="">
                                    <div class="col-xs-12 input-group">
                                        <button id="btnEnviar" type="submit" class="btn btn-success form-control mb-4">Iniciar sesión</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script>
        function sendAjax() {
            event.preventDefault();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("Login", "Home", null)',
                data: $("form").serialize(),
                dataType: 'json',
                beforeSend: function () {
                    showProgress();
                    $('#btnEnviar').prop('disabled', true);
                },
                success: function (data) {
                    console.log("1");
                    console.log(data); 
                    if (code => 200 && code < 299) { 
                         
                        window.location.replace("/Usuario/Index/"); 
                    }
                    else {
                        Swal.fire({ icon: 'error', title: 'Oops...', text: data.responseJSON.message }); 
                        $('#btnEnviar').prop('disabled', false);
                    } 
                    hideProgress();
                },
                error: function (data) {
                    console.log(data);
                    console.log();
                    var code = data.responseJSON.code;

                    if (code => 400 && code < 499) {
                        Swal.fire('AVISO', data.responseJSON.message, 'question');
                    }
                    else if (code => 500 && code < 599) {
                        Swal.fire({ icon: 'error', title: 'Oops...', text: data.responseJSON.message });
                    }

                    $('#btnEnviar').prop('disabled', false);

                    hideProgress();
                }
            });

        };
    </script>
}


