@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model MM.CAAM.Gestion.DTO.DTOs.UsuarioDTO

<div class="row">
    <div class="col-2"><span>@Model.Position </span>@Model.NombreCompleto</div>
    <a  href="~/Consulta/NuevaConsulta/?UsuarioId=@Model.Id">
        <span>Agregar consulta</span> @*@Model.Id*@
    </a>
    <a href="~/Consulta/ConsultaDeUsuario/?UsuarioId=@Model.Id">
        <span>Ver historial</span> @*@Model.Id*@
    </a>
</div>

