@*README
    https://www.bootdey.com/snippets/tagged/contacts*@
@model List<MM.CAAM.Gestion.DTO.DTOs.UsuarioDTO>
@{
    //ViewBag.MetaDescripcion = Model.MetaHtml.Description;
    //ViewBag.MetaAuthor = Model.MetaHtml.Author;
    //ViewBag.MetaKeywords = Model.MetaHtml.Keywords;
    //ViewBag.Descripcion = Model.Descripcion;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Usuarios";
}

<br />
<nav class="navbar navbar-expand-sm bg-transparent justify-content-right">
    <ul class="navbar-nav">
        <li class="nav-item">
            <h3>Usuarios</h3>
        </li>
    </ul>
    <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            <a class="btn btn-primary" href="~/Usuario/NuevoUsuario"><i class="fa-solid fa-plus"></i> Agregar paciente</a>
        </li>
    </ul>
</nav>
<hr />  
<br />

@*https://www.w3schools.com/bootstrap/bootstrap_filters.asp*@
@*<input class="form-control" id="myInput" type="text" placeholder="Search..">*@
<div class="input-group mb-3 w-25">
    <span class="input-group-text"><i class="fa-solid fa-search"></i></span>
    <input type="text" class="form-control " placeholder="Filtro">
</div>
<br>

<div class="row">
    <div class="col-2"><b>NOMBRE Y APELLIDOS</b></div> 
</div>

<hr />



    @if (Model != null && Model.Count() > 0)
    {
        int i = Model.Count();
        foreach (var item in Model)
        {
            {
                item.Position = i;
            }
            @Html.Partial("_LayoutRowUsuario", item)
            i--;
            if(i > 0)
            {
                <hr />
            }
        }
    }
    else
    {
        <div class="alert alert-info alert-dismissable text-center mt-15">
            <i class="fa fa-info-circle"></i>&nbsp;<span class="ng-binding ng-scope">No hay registros, seleccione otro parametro de busqueda.</span>
        </div>
    } 


