@using MM.CAAM.Gestion.DTO.DTOs;
@*README
    https://www.bootdey.com/snippets/tagged/contacts*@
@model List<MM.CAAM.Gestion.DTO.DTOs.UsuarioDTO>
@{
    //ViewBag.MetaDescripcion = Model.MetaHtml.Description;
    //ViewBag.MetaAuthor = Model.MetaHtml.Author;
    //ViewBag.MetaKeywords = Model.MetaHtml.Keywords;
    //ViewBag.Descripcion = Model.Descripcion;
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = "_DevExtremeLayout";
    
    ViewBag.Title = "Usuarios";
}

<br />
<nav class="navbar navbar-expand-sm bg-transparent justify-content-right">
    <ul class="navbar-nav">
        <li class="nav-item">
            <h3>Usuarios</h3>
        </li>
    </ul>
    <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            @if (User.IsInRole("ADMINISTRADOR") || User.IsInRole("CEO") || User.IsInRole("JEFE"))
        {
            <a class="btn btn-primary" href="~/Usuario/NuevoUsuario"><i class="fa-solid fa-plus"></i> Agregar usuario</a>
        }
        </li>
    </ul>
</nav>
<hr />   

@*https://www.w3schools.com/bootstrap/bootstrap_filters.asp*@ 
@*<div class="input-group mb-3 w-25">
    <span class="input-group-text"><i class="fa-solid fa-search"></i></span>
    <input type="text" class="form-control " placeholder="Filtro">
</div>*@
<br>

@*@(Html.DevExtreme().DataGrid<UsuarioDTO>()
    .DataSource(d => d.WebApi()
        .Controller("Usuario")
        .LoadAction("ObtenerUsuarios")
    )
    .RemoteOperations(true)*@
    @*.Columns(columns =>
    {
        columns.AddFor(m => m.Correo);
    })*@
    @*.FilterRow(f => f.Visible(true))
    .HeaderFilter(f => f.Visible(true))
    .GroupPanel(p => p.Visible(true))
    .Scrolling(s => s.Mode(GridScrollingMode.Virtual))
    .Width("100%")
    .Height(600)
    .ShowBorders(true)*@
@* )*@

@*.Columns(c =>
    {
        c.Add().DataField("NombreCompleto");*@
@*      c.AddFor(m => m.NombreCompleto);
        c.AddFor(m => m.Correo);
        c.AddFor(m => m.GeneroId);
        c.AddFor(m => m.TiempoNacimiento);
        c.AddFor(m => m.Nacionalidad);
        c.AddFor(m => m.Telefono);
        c.AddFor(m => m.Ocupacion);
        c.AddFor(m => m.FechaCreacion);*@
@*})*@

<br>
@*<h1>@Context.Session.GetString("Usuario")</h1>*@
@*<h1>@ViewBag.Usuario</h1>*@
<div class="row">
    <div class="col-2"><b>Nombre</b></div> 
    <div class="col-2"><b>Correo</b></div>
    <div class="col-1"><b>Sexo</b></div>
    <div class="col-1"><b>Edad</b></div>
    <div class="col-2"><b>Nacionalidad</b></div>
    <div class="col-1"><b>Teléfono</b></div>
    <div class="col-1"><b>Ocupación</b></div>
    <div class="col-1"><b>Fecha de registro</b></div>
    <div class="col-1"><b>Opciones</b></div>
</div>
<hr />
    @if (Model != null && Model.Count() > 0)
    {
        int i = 1;
        foreach (var item in Model)
        {
            {
                item.Position = i;
            }
            @Html.Partial("_LayoutRowUsuario", item)
            i++;
            if(i > 0)
            {
                <hr />
            }
        }
    }
    else
    {
        <div class="alert alert-info alert-dismissable text-center mt-15">
            <i class="fa fa-info-circle"></i>&nbsp;<span class="ng-binding ng-scope">No hay registros, seleccione otro parametro de busqueda.</span>
        </div>
    } 


