@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model MM.CAAM.Gestion.DTO.DTOs.ConsultaDTO

<div class="row">
    <div class="col-2">
        <span>@Model.Position </span>
    </div>
    <div class="col-2"> 
        @Model.MotivoConsulta <span>
            
        </span>
    </div>
    <div class="col-2">
        @Model.Usuario.Nombre
    </div>
    <div class="col-6">
        <a href="~/Consulta/VerConsulta/?UsuarioId=@Model.UsuarioId&ConsultaId=@Model.Id">
            Ver consulta completa
        </a>
    </div>
    
</div>

