@{
    ViewBag.Title = "Sobre Nosotros";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Siguenos también en nuestra página de <a href="https://www.facebook.com/psicologia.caam">facebook.</a></p>
