@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    Mexicali, Baja California.<br />
    Magisterio #400, Av. Sta Gertrudis.<br />
    <abbr title="Phone">Tel:</abbr>
    686.589.5638
</address>

<address>
    <strong>Contacto CAAM:</strong>   <a href="https://www.facebook.com/psicologia.caam">Facebook/Psicologia.Caam</a><br />
    <strong>Marketing:</strong> <a href="mailto:daniel2105oficial@gmail.com">Daniel2105Oficial@gmail.com</a>
</address>