@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CAAM</h1>
    <p class="lead">
        Atención psicológica: Infantil, Familiar, Pareja, Individual.
    </p>
    <p><a href="https://www.facebook.com/psicologia.caam" class="btn btn-primary btn-lg">Leer más &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Infantil</h2>
        <p>
            El psicólogo infantil se encarga del proceso de evaluación y diagnóstico de niños y adolescentes. Es el profesional capacitado para diagnosticar los trastornos del desarrollo de índole psicológica que pueden aparecer en este periodo evolutivo, desde el autismo hasta las dificultades de aprendizaje.
        </p>
        <p><a class="btn btn-default" href="https://www.facebook.com/psicologia.caam">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Familiar</h2>
        <p>
            ¿Cómo se aplica la psicologia familiar?<br /><br />
            Resultado de imagen para psicologia familiar
            La psicología familiar analiza y trata de resolver esos conflictos que se plantean en el grupo familiar. En la psicología familiar se estudian las familias como sistemas y se analizan comportamientos, patrones de comunicación y respuestas emocionales entre los miembros del grupo familiar.
        </p>
        <p>
            ¿Por qué es importante la psicología en la familia?<br /><br />
            Función de apoyo y protección psicosocial: Ejerce un efecto protector y estabilizador frente a los trastornos mentales, la familia facilita la adaptación de sus miembros a las nuevas circunstancias en consonancia con el entorno social. Según Nathan W.
        </p>
        <p><a class="btn btn-default" href="https://www.facebook.com/psicologia.caam">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Pareja</h2>
        <p>
            ¿Cómo saber si tengo que ir a terapia de pareja? <br />
            <br />Los principales motivos por los que se recurre a una Terapia de Pareja son:
            <br />1. Dificultades en la sexualidad, disfunciones sexuales o desacuerdos en la frecuencia de las relaciones.
            <br />2. Monotonía y aburrimiento en la relación de pareja.
            <br />3. Problemas en la comunicación: ...
            <br />4. Infidelidades.
            <br />5. Celos y desconfianza en la pareja.
        </p>
        <p><a class="btn btn-default" href="https://www.facebook.com/psicologia.caam">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Individual</h2>
        <p class="rtejustify">La terapia individual se suele emplear para trabajar los problemas de <strong>ansiedad</strong>, la depresión, la inseguridad personal, la baja autoestima, la toma de decisiones, el autocontrol de las <strong>emociones</strong>, la sensación de estancamiento en la vida (en el área sentimental, la vida laboral, las relaciones con otras personas del entorno, etc.), y los problemas <strong>sexuales</strong>, en aquellos casos en los que no se tiene una pareja o ésta no quiere participar en la terapia.</p>
        <p><a class="btn btn-default" href="https://www.facebook.com/psicologia.caam">Learn more &raquo;</a></p>
    </div>
</div>