@*README
    https://www.bootdey.com/snippets/tagged/contacts*@
@*@model MM.CAAM.Admin.DTOs.HomeDto*@
@{
    //ViewBag.MetaDescripcion = Model.MetaHtml.Description;
    //ViewBag.MetaAuthor = Model.MetaHtml.Author;
    //ViewBag.MetaKeywords = Model.MetaHtml.Keywords;
    //ViewBag.Descripcion = Model.Descripcion;
    Layout = "~/Views/Shared/_Layout_Public.cshtml";
    ViewBag.Title = "Login";
}
<br />
@*<h1>Agregar usuario</h1>*@
<br />

<div class="container-fluid px-1 py-2 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11">
            @*<h3>Agregar Usuario</h3>
              <p class="blue-text">Formulario</p>*@
            <div class="row">
                <div class="col-sm-12 text-center">
                    <img src="~/assets/imgages/medico/esculapio.png" width="50px" alt="Alternate Text" style="opacity:0.8" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h3 class="blue-text">Crea un Nuevo Usuario</h3>
                </div>
            </div>
            <br />
            <div class="card">
                <div class="card-body">
                    @*https://qawithexperts.com/article/asp-net/form-submit-in-aspnet-mvc-c-htmlbeginform-example/314*@
                    @*<h5 class="text-center mb-4">Usuario nuevo</h5>*@
                    @*<form id="Form1" action="usuario/crear_usuario" method="post" >*@
                    @using (Html.BeginForm("IniciarSesion", "Loggin", FormMethod.Post, new { id = "Form1" }))
                        {
                        @*<form asp-controller="Home" asp-action="Contacto" ></form>*@
                        
                        <div class="row ">
                            <div class="col-12 ">
                                <button type="submit" class="btn btn-primary float-right" style="font-family: 'Google Sans',Roboto,Arial,sans-serif;">Agregar</button>  @*ml-auto*@
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
