@{
    Layout = "~/Views/Shared/_Layout_Public.cshtml";
    ViewData["Title"] = ViewBag.Title;
    ViewData["MetaDescripcion"] = ViewBag.MetaDescripcion;
    ViewData["MetaKeywords"] = ViewBag.MetaKeywords;
    ViewData["MetaAuthor"] = ViewBag.MetaAuthor;
    //ViewBag.Title = "Caam: Centro psicológico de aprendizaje profesional";
    //ViewBag.MetaDescripcion = "Únete hoy a Caam, el centro psicológico profesional de educación en línea y presencial. Prepárate con las habilidades más nuevas y demandadas a un menor precio de lo que gastarías regularmente.";
    //ViewBag.MetaKeywords = "psicología, clinica, menor precio, tecnologías, servicios, consulta, online, presencial, psicoterapia, familiar, pareja, infantil, adolescentes, terapia, adultos, asesoramiento, educación, profesional, capacitación, docente, evaluación, duelo, orientacion vocacional, orientación, pruebas, anciedad, ansiedad, rehabilitación, terapia, breve, cognitivo conductual, pareja, test machover, consulta subsecuente, en línea, presencial";
    //ViewBag.MetaAuthor = "caam, dgarcia2105, didade";
}

<section class="Hero Bg-animation "  > 
        <h1>Buscar</h1>
        @*<h1 class="Hero-content-title">
            <span>Para todos tus retos,</span> prepárate en CAAM
        </h1>
        <p class="Hero-content-subtitle">La comunidad psicológica de aprendizaje en línea y presencial donde desarrollas tus habilidades y potencias tu crecimiento.</p>
        <p class="Hero-content-message">¿Qué quieres lograr?</p>
        <form class="Hero-content-input">
            <input value="" placeholder="Cuéntanos aquí">
            <button type="submit" data-testid="search">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="paper-plane-top" class="svg-inline--fa fa-paper-plane-top " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                    <path fill="currentColor" d="M81.9 27.8C47.1 12.7 12.8 50.1 30.8 83.5l69.3 128.8c4.4 8.3 12.6 13.8 21.9 15c0 0 0 0 0 0l176 22c3.4 .4 6 3.3 6 6.7s-2.6 6.3-6 6.7l-176 22s0 0 0 0c-9.3 1.2-17.5 6.8-21.9 15L30.8 428.5c-18 33.4 16.3 70.8 51.1 55.7L523.8 292.7c32.1-13.9 32.1-59.5 0-73.4L81.9 27.8z"></path>
                </svg> 
            </button>
        </form>*@ 
</section> 
 
 