@*README
    https://www.bootdey.com/snippets/tagged/contacts*@
@*@model MM.CAAM.Admin.DTOs.HomeDto*@
@{
    //ViewBag.MetaDescripcion = Model.MetaHtml.Description;
    //ViewBag.MetaAuthor = Model.MetaHtml.Author;
    //ViewBag.MetaKeywords = Model.MetaHtml.Keywords;
    //ViewBag.Descripcion = Model.Descripcion;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Usuarios";
}
<br />
<h1>Usuarios</h1>
<br />

<div class="row ">
    <a href="~/Usuario/AgregarUsuario" class="btn btn-primary ml-auto">Agregar</a>
</div>

<div class="row">
    <div class="col-2"><b>Nombre</b></div>
    <div class="col-2"><b>Email</b></div>
    <div class="col-1"><b>Sexo</b></div>
    <div class="col-1"><b>Edad</b></div>
    <div class="col-1"><b>Nacionalidad</b></div>
    <div class="col-1"><b>Teléfono</b></div>
    <div class="col-2"><b>Ocupación</b></div>
    <div class="col-1"><b>Fecha de registro</b></div>
</div>

<hr />

<div class="row">
    <div class="col-2">Daniel García</div>
    <div class="col-2">daniel2105oficial@gmail.com</div>
    <div class="col-1">Masculino</div>
    <div class="col-1">31</div>
    <div class="col-1">Mexicano</div>
    <div class="col-1">(686) 589 56-38</div>
    <div class="col-2">Ing. Sistemas computacionales</div>
    <div class="col-1">6/29/2023</div>
</div>
<br />
<div class="row">
    <div class="col-2">Daniel García</div>
    <div class="col-2">daniel2105oficial@gmail.com</div>
    <div class="col-1">Masculino</div>
    <div class="col-1">31</div>
    <div class="col-1">Mexicano</div>
    <div class="col-1">(686) 589 56-38</div>
    <div class="col-2">Ing. Sistemas computacionales</div>
    <div class="col-1">6/29/2023</div>
</div>
<br />
<div class="row">
    <div class="col-2">Daniel García</div>
    <div class="col-2">daniel2105oficial@gmail.com</div>
    <div class="col-1">Masculino</div>
    <div class="col-1">31</div>
    <div class="col-1">Mexicano</div>
    <div class="col-1">(686) 589 56-38</div>
    <div class="col-2">Ing. Sistemas computacionales</div>
    <div class="col-1">6/29/2023</div>
</div>

